version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8.11
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

      - run: yarn run build
      - run: yarn run test
      - run: yarn run size

workflows:
  version: 2
  default:
    jobs:
      - test
